<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container jumbotron-text">
      <h2>Modern Business: A Clean & Simple Full Template by Start Bootstrap</h2>
      <p>A complete website design featuring various single HTML page templates from Start Bootstraps library of free starter template.</p>
    </div>
  </div>