

<div class="container thumbnail">
    <h2 style="color: #2C3E50;">Display Some of Your Featured Products Here</h2>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-lg-4">
            <div class="fakeimg"">Product 1</div>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="fakeimg"">Product 2</div>
        
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="fakeimg"">Product 3</div>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>