<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class="container content">
    <p class="alert alert-danger">Restricted Area !! You should not be here!</p>
</div>

<%- include('parts/footer')%>