<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/Carousel.css">
    <link rel="stylesheet" href="/css/gridcontent.css">
    <link rel="stylesheet" href="/css/jumbotron.css">
    <link rel="stylesheet" href="/css/thumbnails.css">
    <link rel="stylesheet" href="/css/featurette.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main.css">
    <title><%= pageTitle%> | Perfect Store</title>
</head>
<body>
    